.btn {
    font-size: rem(20);
    @include prefixer(transition, all 0.2s ease-in-out, ('moz', 'webkit'));
    min-width: rem(150);
}

.btn-main {
    border: 2px solid $blue;

    &:hover {
        background: $blue;
        color: $white;
    }
}

.btn-second {
    border: 2px solid $text-dark-color;
    background: transparent;
    color: $text-dark-color;

    &:hover {
        background: $text-dark-color;
        color: $white;
    }
}
