.main-header {
    @include prefixer(transition, all 0.2s ease-in-out, ('moz', 'webkit'));
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0);

    &.offset-top {
        background: #fff;
        box-shadow: 0 5px 4px 0 rgba(0,0,0,0.05);

        .navbar-brand {
            font-size: rem(30);
        }
    }
}

.navbar-brand {
    font-family: $primary-font-700;
    font-size: rem(35);
    @include prefixer(transition, all 0.2s ease-in-out, ('moz', 'webkit'));

    > span {
        color: $blue;
    }
}


.nav-item {
    padding: 0 20px;
}
.nav-link {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    font-family: $primary-font-700;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        opacity: 0;
        background: $blue;
        width: 0;
        left: 0;
        @include prefixer(transition, all 0.2s ease-in-out, ('moz', 'webkit'));
    }

    &:hover {
        &:before {
            width: 100%;
            opacity: 1;
        }
    }
}

.hamburger {
	padding: 0;
	display: none;
	cursor: pointer;
    @include prefixer (transition, opacity filter 015s linear, ("moz", "webkit"));
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
    margin: 0;
    margin-left: 5px;
    overflow: visible;
    z-index: 100;
    &:hover {
        opacity: 0.7;
    }
    @include max-screen(991px) {
        display: block;
    }
}
.hamburger[aria-expanded="true"] {
    .hamburger-inner {
        @include prefixer(transform, rotate(225deg), ("moz", "webkit"));
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        background-color: $dark-bg;
        &:before {
            top: 0;
            opacity: 0;
            @include prefixer(transition, top 0.1s ease-out opacity 0.1s 0.12s ease-out, ("moz", "webkit"));
            background-color: $dark-bg;
        }
        &:after {
            bottom: 0;
            @include prefixer(transform, rotate(-90deg), ("moz", "webkit"));
            @include prefixer(transition, bottom 0.1s ease-out transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), ("moz", "webkit"));
            background-color: $dark-bg;
        }
    }
}
.hamburger-box {
	width: 25px;
    height: 26px;
    background: transparent;
	display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include max-screen(479px){
        width: 25px;
        height: 20px;
    }
}
.hamburger-inner {
	display: block;
	top: 50%;
    margin-top: -2px;

    &:before,
    &:after {
        content: "";
        display: block;
    }
    &:before {
        top: -9px;
    }
    &:after {
        bottom: -9px;
    }
}
.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
	width: 25px;
	height: 3px;
	background-color: $dark-bg;
	border-radius: 1px;
    position: absolute;
    @include prefixer(transition, all 0.4s ease, ("moz", "webkit"));
    @include max-screen(479px){
        width: 25px;
    }
}
