// fonts
$primary-font-300: 'source_sans_pro_light';
$primary-font-400: 'source_sans_pro';
$primary-font-600: 'source_sans_pro_semibold';
$primary-font-700: 'source_sans_probold';


// colors
$blue: #0085da;
$white: #fff;
$dark-bg: #000d16;
$light-bg: #f3f3f3;
$text-light-color: #f0f0f0;
$text-dark-color: #181818;
